.contact-page-details {
	background: url("../assets/images/Pic@2x.png");
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.my-form {
	padding-top: 70px;
}
form > input {
	width: 600px;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
}
input {
	border: 2px solid #707070;
	outline-width: 0;
	outline: none;
}
input::placeholder {
	padding: 5px;
}
textarea {
	border-radius: 5px;
	width: 600px;
	height: 100px;
}
.send-btn {
	margin-top: 20px;
	background-color: #81ecec;
	width: 230px;
	height: 50px;
	border-radius: 30px;
	cursor: pointer;
	border: 0;
}
.contact-intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.contact-intro > h1 {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	font-family: "Robotos", sans-serif;
}
@media (min-width: 200px) and (max-width: 960px) {
	form > input {
		width: 300px;
	}
	form > textarea {
		width: 300px;
	}
	.send-btn {
		margin: 20px 0;
	}
	.my-form-details {
		display: none;
	}
}
