.mainContent__navIntro {
	padding-top: 30px;
}
.mainContent__navLeft {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.mainContent__navLeft > h1 {
	font-size: 2.8rem;
	font-family: "Robotos", sans-serif;
	font-weight: 700;
	line-height: 30px;
	padding-bottom: 30px;
}
.mainContent__navLeft > p {
	font-size: 1.7rem;
	line-height: 30px;
	font-family: "Robotos", sans-serif;
	font-weight: 400;
}
.myskill-top {
	margin-top: 10px;
}
.myskill-top > p {
	font-size: 1.7rem;
	line-height: 30px;
	font-family: "Robotos", sans-serif;
	font-weight: 400;
}
.skills-display {
	margin-top: 10px;
	display: flex;
}
.skills-display > span {
	margin-right: 15px;
	border: 2px solid black;
	border-radius: 25px;
	padding: 8px 10px;
	cursor: pointer;
}
.nav-btns {
	display: flex;
	padding-top: 30px;
}
.nav-btns > button {
	width: 230px;
	height: 50px;
	border-radius: 30px;
	cursor: pointer;
	border: 0;
}
.cv {
	margin-left: 30px;
	background-color: #81ecec;
}
.contact > span > a {
	color: black;
	text-decoration: none !important;
	font-family: "Robotos", sans-serif;
	font-weight: 500;
	line-height: 30px;
}
.cv > span > a {
	line-height: 30px;
	color: black;
	text-decoration: none !important;
	font-family: "Robotos", sans-serif;
	font-weight: 500;
}
.mainContent__navRight {
	background: url("../assets//images/yellow-bg.svg");
	background-size: cover;
	background-position: center;
	height: 600px;
}
.mainContent__navRight > img {
	object-fit: contain;
	width: 100%;
	height: 400px;
}
.about__me {
	cursor: pointer;
}
.aboutMe__left > img {
	background-color: #81ecec;
	border-radius: 50%;
}
.aboutMe__right {
	padding-top: 70px;
}
.aboutMe__right > h1 {
	color: #81ecec;
	line-height: 30px;
	font-family: "Robotos" sans-serif;
	font-size: 3rem;
	padding-bottom: 20px;
}
.aboutMe__right > p {
	font-weight: 400px;
	line-height: 30px;
	font-family: "Robotos" sans-serif;
}
.about-me-social-media {
	padding-top: 20px;
}
.about-me-social-media > a {
	padding-right: 20px;
	border-radius: 20px;
	color: #81ecec;
}
