@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.Navbar__Main {
	font-family: "Robotos", sans-serif;
}
.navbar {
	height: 80px;
	position: sticky;
	top: 0;
	z-index: 999;
}
.navbar.active {
	background-color: #f8f8f8;
}
.Navbar__items {
	padding-top: 10px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.nav__ItemsList > ul {
	display: flex;
}
.nav__ItemsList > ul > li {
	display: flex;
	padding-right: 18px;
}
.nav__ItemsList > ul > li > a {
	font-size: 18px;
	color: #81ecec;
	text-align: center;
	font-family: "Robotos", sans-serif;
	text-decoration: none;
	line-height: 3px;
	padding: 10px 0;
}
.nav__ItemsList > ul > li > a:hover {
	border-bottom: 2px solid black;
}
.menu__icon {
	display: none;
}
@media screen and (max-width: 960px) {
	.menu__icon {
		display: block;
		position: absolute;
		right: 0;
		transform: translate(-10%, 60%);
		font-size: 1rem;
		cursor: pointer;
		color: black;
		border: 1px solid black;
		border-radius: 50%;
		padding: 0 5px;
	}
	.nav__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 50%;
		height: 100vh;
		position: absolute;
		align-items: center;
		top: 50px;
		text-align: center;
		left: 0;
		opacity: 1;
		transform: translateX(-500px);
		transition: all 0.5s ease-in-out;
	}
	.nav__menu.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #f8f8f8;
		left: 0;
		opacity: 1;
		transition: all 0.6s ease;
		z-index: 1;
		transform: translateX(-70px);
		text-align: center;
	}
	.nav__menu > li {
		padding: 5px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-left: 0;
		padding-left: 0;
	}
	.nav__menu > li > a {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #636363;
		line-height: 30px;
		width: 100%;
		font-size: 15px;
	}
}
