.project__Main {
	display: flex;
	align-items: center;
}
.project-titles p {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.project-img img {
	width: 100%;
	object-fit: contain;
	height: 400px;
}
.project-title {
	padding-top: 10px;
	margin-bottom: 0;
	align-items: center;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: deepskyblue;
}
.project-des {
	padding-left: 30px;
}
.project-des h1 {
	font-size: 60px;
	padding-bottom: 10px;
	font-weight: 700;
	color: deepskyblue;
}
.project-des h6 {
	font-size: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}
.project-des p {
	font-size: 15px;
	padding-bottom: 20px;
	line-height: 30px;
}
.project-link a:last-child {
	margin-left: 20px;
}
.project-link a:first-child {
	background-color: deepskyblue;
	color: white;
	padding: 10px 30px;
	border-radius: 15px;
}
